<!DOCTYPE html>
<head>
    <title><%title%></title> <!-- this is how to use ejs in basic form. -->
    <style>
        body { text-align: center; padding: 150px; }
        h1 { font-size: 50px; }
        body { font: 20px Helvetica, sans-serif; color: #333; }
        article { display: block; text-align: left; width: 650px; margin: 0 auto; }
        a { color: #dc8100; text-decoration: none; }
        a:hover { color: #333; text-decoration: none; }
    </style>
    <!-- If you want to use recaptcha...
        <script src='https://www.google.com/recaptcha/api.js'></script>
    -->
</head>
<body>
    <article>
        <h1>Barebone greeting page</h1>
        <div>
            <p>Make the homepage here</p>
        </div>
    </article>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script><!-- Who doesn't love jquery?! !-->
    <script src="/js/example.js"></script>
</body>
</html>